###################### Metricbeat Configuration #######################

#==========================  Modules configuration ============================

metricbeat.config.modules:
  # Glob pattern for configuration loading
  path: ${path.config}/modules.d/*.yml

  {% if metricbeat_reload_enabled %}
  reload.enabled: {{ metricbeat_reload_enabled }}

  reload.period: {{ metricbeat_reload_period }}
  {% endif %}

#==================== Elasticsearch template setting ==========================

setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
  #_source.enabled: false

#================================ General =====================================

# The name of the shipper that publishes the network data. It can be used to group
# all the transactions sent by a single shipper in the web interface.
#name:

# The tags of the shipper are included in their own field with each
# transaction published.
#tags: ["service-X", "web-tier"]

# Optional fields that you can specify to add additional information to the
# output.
#fields:
#  env: staging


#============================== Dashboards =====================================
# These settings control loading the sample dashboards to the Kibana index. Loading
# the dashboards is disabled by default and can be enabled either by setting the
# options here or by using the `setup` command.
#setup.dashboards.enabled: false

# The URL from where to download the dashboards archive. By default this URL
# has a value which is computed based on the Beat name and version. For released
# versions, this URL points to the dashboard archive on the artifacts.elastic.co
# website.
#setup.dashboards.url:

#============================== Kibana =====================================
{% if metricbeat_kibana %}
setup.kibana:
  host: "{{ metricbeat_kibana_url }}"
{% if metricbeat_kibana_spaceid %}
  space.id: {{ metricbeat_kibana_spaceid }}
{% endif %}
{% endif %}
#============================= Elastic Cloud ==================================

# These settings simplify using Metricbeat with the Elastic Cloud (https://cloud.elastic.co/).

# The cloud.id setting overwrites the `output.elasticsearch.hosts` and
# `setup.kibana.host` options.
# You can find the `cloud.id` in the Elastic Cloud web UI.
#cloud.id:

# The cloud.auth setting overwrites the `output.elasticsearch.username` and
# `output.elasticsearch.password` settings. The format is `<user>:<pass>`.
#cloud.auth:

#================================ Outputs =====================================

# Configure what output to use when sending the data collected by the beat.

#-------------------------- Elasticsearch output ------------------------------
{% if metricbeat_output_elasticsearch %}
output.elasticsearch:
  # Array of hosts to connect to.
  hosts: {{ metricbeat_elasticsearch_hosts | to_json }}

  # Protocol - either `http` (default) or `https`.
  protocol: "{{ metricbeat_elasticsearch_url_protocol }}"

  {% if metricbeat_elasticsearch_apikey is defined %}
    api_key: "id:api_key"
  {% endif %}
  {% if metricbeat_elasticsearch_credentials %}
    username: "{{ metricbeat_elasticsearch_username }}"
    password: "{{ metricbeat_elasticsearch_password }}"
  {% endif %}
{% endif %}

#----------------------------- Logstash output --------------------------------
{% if metricbeat_output_logstash %}
output.logstash:
  # The Logstash hosts
  hosts: {{ metricbeat_logstash_hosts | to_json }}

  # Optional SSL. By default is off.
  # List of root certificates for HTTPS server verifications
  #ssl.certificate_authorities: ["/etc/pki/root/ca.pem"]

  # Certificate for SSL client authentication
  #ssl.certificate: "/etc/pki/client/cert.pem"

  # Client Certificate Key
  #ssl.key: "/etc/pki/client/cert.key"
{% endif %}

#================================ Processors =====================================

# Configure processors to enhance or manipulate events generated by the beat.

processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

#================================ Logging =====================================

logging.level: {{ metricbeat_logging_level }}

#logging.selectors: ["*"]

#============================== X-Pack Monitoring ===============================

{% if metricbeat_monitoring_enabled %}
monitoring.enabled: {{ metricbeat_monitoring_enabled }}

monitoring.cluster_uuid: {{ metricbeat_monitoring_cluster_uuid }}
{% endif %}

#monitoring.elasticsearch:

#================================= Migration ==================================

# This allows to enable 6.7 migration aliases
#migration.6_to_7.enabled: true
